In [2]:
import pandas as pd

In [14]:
#question1
data=[4, 8, 15, 16, 23,42]
se=pd.Series(data)
se

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [10]:
#question2
data1=[1,2,3,4,5,6,7,8,9,10]
se2=pd.Series(data1)
se2

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [15]:
#question3
data2={'Name':['Alice','Bob','Claire'],
       'Age':[25,30,27],
       'Gender':['Female','Male','Female']
}
df=pd.DataFrame(data2)
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
#question4
In Pandas, a DataFrame is a two-dimensional labeled data structure that consists of rows and columns, 
similar to a spreadsheet or a SQL table. It can hold data of different types, including integers, 
floating-point numbers, strings, and more. A Series is a one-dimensional labeled array capable of 
holding any data type.

To illustrate the difference, let's consider an example. Suppose we have data on the sales of products
in a store over a period of time, and we want to analyze the data using Pandas. We can represent this 
data using a DataFrame. Here's what the data might look like:

Date	    Product	   Sales
2022-01-01	Widget A	10
2022-01-02	Widget B	20
2022-01-03	Widget C	15
2022-01-04	Widget A	12
2022-01-05	Widget B	18
To create a Pandas DataFrame object from this data, we can use the following code:
import pandas as pd

data = {'Date': ['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04', '2022-01-05'],
        'Product': ['Widget A', 'Widget B', 'Widget C', 'Widget A', 'Widget B'],
        'Sales': [10, 20, 15, 12, 18]}

df = pd.DataFrame(data)


This creates a DataFrame object df that looks like this:
    Date        Product  Sales
0  2022-01-01  Widget A     10
1  2022-01-02  Widget B     20
2  2022-01-03  Widget C     15
3  2022-01-04  Widget A     12
4  2022-01-05  Widget B     18


As you can see, a DataFrame is a two-dimensional object with rows and columns. In this case,
the columns are labeled "Date", "Product", and "Sales", and the rows are labeled with integers starting from 0.

Now let's consider a Series. Suppose we want to extract the "Sales" column from the DataFrame
and analyze it separately. We can do this using the following code:
    
sales = df['Sales']

This creates a Series object sales that looks like this:
    
0    10
1    20
2    15
3    12
4    18
Name: Sales, dtype: int64

As you can see, a Series is a one-dimensional object with a single column of data.
In this case, the Series contains the sales data from the DataFrame.

In summary, a DataFrame is a two-dimensional data structure that can hold multiple columns of data, 
while a Series is a one-dimensional data structure that represents a single column of data from a DataFrame.

In [ ]:
#question5
1-head(n): returns the first n rows of the DataFrame.
Example: If we want to see the first 5 rows of a DataFrame called df, we can use the following code: df.head(5)

2-tail(n): returns the last n rows of the DataFrame.
Example: If we want to see the last 10 rows of a DataFrame called df, we can use the following code: df.tail(10)

3-info(): returns information about the DataFrame, such as the number of rows, columns, 
data types, and memory usage.
Example: If we want to see information about a DataFrame called df, we can use the following code: df.info()

4-describe(): returns statistical information about the DataFrame, such as count, mean, standard deviation, 
minimum, and maximum values.
Example: If we want to see statistical information about a DataFrame called df, we can use the following code: 
df.describe()

5-sort_values(by=column_name): sorts the DataFrame by a specified column in ascending order.
Example: If we want to sort a DataFrame called df by the "Sales" column in ascending order, 
we can use the following code: df.sort_values(by='Sales')

6-drop(column_name, axis=1): removes a specified column from the DataFrame.
Example: If we want to remove the "Product" column from a DataFrame called df, 
we can use the following code: df.drop('Product', axis=1)

7-groupby(column_name).aggregate(function): groups the DataFrame by a specified column and 
applies a specified function to each group.
Example: If we want to group a DataFrame called df by the "Product" column and calculate the
sum of the "Sales" column for each product, we can use the following code: df.groupby('Product').aggregate(sum)

These are just a few examples of the many functions available in Pandas for manipulating data
in a DataFrame. Depending on the specific task at hand, other functions such as fillna, merge, 
pivot_table, and apply may also be useful.

In [ ]:
#question6
Series and DataFrame are mutable in nature, while Panel is immutable. 
This means that we can modify the values in a Series or DataFrame after 
they have been created, but we cannot modify the values in a Panel after it has been created.

In a Series, we can modify individual elements by assigning new values to
their corresponding indices. In a DataFrame, we can modify individual elements
by assigning new values to their corresponding row and column labels, or we 
can modify entire columns or rows by assigning new values to their labels.

For example, if we have a DataFrame called df with two columns 'A' and 'B', 
we can modify the values in column 'B' for rows 0 and 1 as follows:

df.loc[0, 'B'] = 10
df.loc[1, 'B'] = 20
In contrast, once a Panel has been created, we cannot modify its values. Instead, 
we must create a new Panel with the desired modifications. This is because a Panel is 
a 3D data structure that contains multiple DataFrames, and modifying any one of these 
DataFrames would require modifying the entire Panel. Therefore, immutability is a safer 
design choice for Panels.

In [ ]:
#question7
We can create a DataFrame using multiple Series by passing them as a dictionary to the 
pd.DataFrame() function. Each Series will correspond to a column in the DataFrame, 
and their indices will be used as the row labels.

Here's an example:
import pandas as pd

# Create the first Series
sales = pd.Series([100, 200, 150, 300], index=['Q1', 'Q2', 'Q3', 'Q4'], name='Sales')

# Create the second Series
expenses = pd.Series([50, 75, 100, 125], index=['Q1', 'Q2', 'Q3', 'Q4'], name='Expenses')

# Create the DataFrame using the two Series
df = pd.DataFrame({'Sales': sales, 'Expenses': expenses})

# Print the resulting DataFrame
print(df)

In this example, we first create two Series sales and expenses, which represent the sales 
and expenses for a business over four quarters (Q1 to Q4). We use the pd.Series() function 
to create each Series, passing in the data as a list and the indices as another list.
We also assign a name to each Series using the name parameter.

Next, we create a DataFrame df by passing a dictionary to the pd.DataFrame() function. 
The keys of the dictionary represent the column names, and the values represent the corresponding Series. 
We use the sales and expenses Series to create the 'Sales' and 'Expenses' columns of the DataFrame, respectively.

Finally, we print the resulting DataFrame, which will look like this:
    
     Sales  Expenses
Q1     100        50
Q2     200        75
Q3     150       100
Q4     300       125

We can see that the resulting DataFrame has two columns 'Sales' and 'Expenses', 
and four rows corresponding to the four quarters. The values in each column come
from the corresponding Series.